.P-login
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  background: #f1f1f1
  .logo
    width: 150px
    height: 150px
    display: block
    margin: 0 auto 50px
  .ipt
    margin: 0 auto 20px
    width: 300px
    text-align center
